<div class="ngdialog-message">
	<p>Add Condition to the Rule...</p>
	<p>Please select a object to add a new condition</p>
</div>
<div class="ngdialog-buttons">

	 <select ng-model="selectedObject" ng-options="describedObject.sobLabel for describedObject in describedObjects">
        <option value="">-- choose object --</option>
    </select>

    <span ng-click="addCondition(ngDialogData, selectedObject); closeThisDialog(0);" class="glyphicon glyphicon-plus-sign large-glyphicon blue cursor-pointer"></span>

</div>
<div class="ngdialog-buttons">
	<button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Cancel</button>
</div>