<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Sessions 
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-wrench"></i> Rule Engine Session
            </li>
        </ol>
    </div>
    <div class="col-lg-12">
		<div class="row">
        	<div class="form-group add-rule" id="btn-add-rule">
            	<div class="btn-group-justified" role="group" aria-label="Justified button group">
                	<a class="btn btn-primary" role="button" ng-click="fireRules()">Fire Rules</a>
            	</div>
       		</div>
		</div>
	</div>
	    <div class="col-lg-12">
		<div class="row">
        	<div class="form-group add-rule" id="btn-add-rule">
            	<div class="btn-group-justified" role="group" aria-label="Justified button group">
                	<a class="btn btn-primary" role="button" ng-click="getAlerts()">Get Alerts</a>
            	</div>
       		</div>
		</div>
	</div>
	{{alerts}}
</div>
